@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

* {
    font-family: "Bakbak One", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin: 0;
    padding: 0;
    line-height: 1;
}

body {
    background-color: #202124;
    color: #EDEDED;
}

div.nav {
    box-shadow: inset 0 -1px 0 0 #444444;
    height: 64px;
    width: auto;
    display: flex;
    gap: 32px;
    align-items: center;
    padding:  0 0 0 32px;
    background-color: #2021247e;
    backdrop-filter: saturate(150%) blur(10px);
    position: sticky;
    top: 0;
    z-index: 100;
}

div.nav>a {
    color: #fff;
    text-decoration: unset;
}

div.nav>a.selected {
    color: #e7b306;
}

div.nav>a.homeHref {
    font-size: 18px;
}

div.element {
    position: absolute;
}

div.element.round {
    border-radius: 100%;
}

div.element.big {
    height: 300px;
    width: 300px;
}

div.element.yellow {
    background-color: #e7b306;
}

div.element.firstHomeElement {
    left: 0;
    top: calc(50vh);
}

div.element.secondHomeElement {
    right: 0;
}

div.global {
    width: auto;
    height: calc(200vh - 64px);
    background-color: #2021247e;
    backdrop-filter: blur(180px);
    margin-top: -64px;
    padding-top: 64px;
}

div.global>div.home {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 64px);
    align-items: center;
    justify-content: center;
}

div.global>div.home>h1 {
    font-size: 72px;
    font-weight: 400;
}

div.global>div.items {
    display: grid;
}